*{
    margin:0px;
    padding: 0px;
}
#my-navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(145, 140, 140, 0.144);
}
#my-navbar>li{
    list-style: none;
    display: inline-flex;
    font-size: 26px;
    width: 30%;
    justify-content: center;
    height: 100%;
}
#my-navbar>li:hover{
    background-color: #0554f2;
    color: white;
}
.my-card {
    width:25rem; 
    margin:10px; 
    padding:10px;
}
#special-progress{
    margin-top: 10px;
    margin-bottom: -10px;
}
.topic-head{
    color: rgba(220, 20, 60, 0.527);
}