*{
    margin:0;
    padding:0;
}
body{
    background-color: #1B1C1D;
}
#base{
    background-color: #1B1C1D;
    height: 100vh;
    width: 100%;
    color: azure;
}
.base-text{
    text-align: center;
    padding:10%;;
}
.base-text >h1
{
    font-size:5rem;
    padding: 2%;
}
.base-text>h5{
    font-size:2rem;
    padding: 2%;
}
.register{
    color: white !important;
    border: 2px solid white !important;
    padding: 10px;
    text-decoration: none;
}
